body {
    display: flex;
    gap: 16px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.user-input {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

#size {
    width: 200px;
    font-size: 16px;
    height: 20px;
    text-align: center;
}

#clear {
    padding: 8px;
    font-size: 12px;
    width: 100px;
}

#black {
    background-color: black;
}

#rainbow {
    background: url("img/rainbow.png");
    background-size: 100%;
}

#gradient {
    background: url("img/gradient.png");
    background-size: 100%;
}

.color-select div input{
    padding: 0;
    height: 50px;
    width: 50px;
}

.color-select div {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.color-select {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

#container {
    height: 500px;
    width: 500px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

.cleared {
    background-color: white;
}

.hovered {
    background-color: black;
}

p {
    margin-top: 8px;
}